<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>保證金存款</title>
<style></style>
<head>
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/invest/margin_transaction/deposit_margin.css">
    include ../../navigator/navigator.pug
    <div id="deposit_sheet">
    <form id="deposit_token" action="" method="post">
        <h2>存入保證金</h2>
        <div class="deposit">
            <span>#{user}，您好！</span>
            <br>
            <br>
            <br>
            <label>您註冊的錢包地址是:</label><br/>
            <br>
            <dd class="content" id="walletaddress">#{address}</dd><br/>
            <br>
            <div id="invest_id_box"><div id="invest_text">投資策略ID: </div><div id="invest_num">#{strategyID}</div></div>
            <div id="invest_portfolio_box"><div id="invest_text">策略名稱: </div><div id="invest_category">#{strategy}</div></div>
            <br>
            <br>
             <label for="set_amount_label">應繳金額:</label>
             <p for="set_amount_label">(投資金額#{parseInt(value)}的40%)</p>
             <br/>
            <br>
            <br>
            <input type="number" id="set_amount" name="set_amount" min="#{parseInt(parseInt(value)*0.4)}" max="#{parseInt(value)}" value="#{parseInt(parseInt(value)*0.4)}"><br/>
            <br>
            <br>
            <span class="not_enough_warn"><div id="have_token">現有平台幣：#{now_balance}</div><div id="need_to_pay">需儲值...TWD</div></span>
            <br>
            <br>
            if(now_balance<deposit_amount)
                <span class="notice">您目前擁有平台幣為#{now_balance},所需平台幣數量為#{deposit_amount}</span>
            <br>
            <br>
            <input id="deposit_tokens" type="submit" value="確定存入"/>
            <br>
            <br>
            <br>
            <br>
        </div>
    </form>
            <form id="formCreditCard" method="post" accept-charset="UTF-8" action="https://payment-stage.opay.tw/Cashier/AioCheckOut/V5">
            <div id="hidden_tag">
            |MerchantID 商店代號: 
            <input type="hidden" id="MerchantID" name="MerchantID" value="2000132" ><br>
            |MerchantTradeNo 商店交易編號: 
            <input type="hidden" id="MerchantTradeNo" name="MerchantTradeNo"><br>
            |MerchantTradeDate 商店交易時間: 
            <input type="hidden" id="MerchantTradeDate" name="MerchantTradeDate"><br>
            |PaymentType 交易類型: 
            <input type="hidden" id="PaymentType" name="PaymentType" value="aio" ><br>
            |TotalAmount 交易金額: 
            <input type="hidden" id="TotalAmount" name="TotalAmount" value="#{not_pay}" ><br>
            |TradeDesc 交易描述: 
            <input type="hidden" id="TradeDesc" name="TradeDesc" value="NTD to Tokens" ><br>
            |ItemName 商品名稱: 
            <input type="hidden" id="ItemName" name="ItemName" value="Tokens" ><br>
            |ReturnURL 付款完成通知回傳網址: 
            <input type="hidden" id="ReturnURL" name="ReturnURL" value="https://developers.opay.tw/AioMock/MerchantReturnUrl" ><br>
            |ChoosePayment 預設付款方式: 
            <input type="hidden" id="ChoosePayment" name="ChoosePayment" value="Credit" ><br >
            |會員商店代碼: 
            <input type="hidden" id="StoreID" name="StoreID" value="" ><br >
            |OrderResultURL Client端返回廠商網址: 
            <input type="hidden" id="OrderResultURL" name="OrderResultURL" value="http://140.119.19.38:3040/receipt"><br>
            |CreditInstallment 刷卡分期期數: 
            <input type="hidden" id="CreditInstallment" name="CreditInstallment" value=""><br>
            |InstallmentAmount 使用刷卡分期的付款金額: 
            <input type="hidden" id="InstallmentAmount" name="InstallmentAmount" value=""><br>0
            |Redeem 信用卡是否使用紅利折抵: 
            <input type="hidden" id="Redeem" name="Redeem" value=""><br>
            |CheckMacValue 簽章類型: 
            <input type="hidden" id="EncryptType" name="EncryptType" value="1"><br>
            |CheckMacValue 檢查碼: 
            <input type="hidden" id="CheckMacValue" name="CheckMacValue"><br>
            <p id="hash" ></p>
            </div>
            <input type="submit" value="儲值金額" id="confirm_submit"></form>
            </div>
</body>
<script>
</script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script type="text/javascript" src="/javascripts/invest/margin_transaction/deposit_margin.js"></script>
</html>